body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
}

.container {
  max-width: 1180px;
  height: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.nav-bar {
  max-width: 100%;
  -webkit-box-shadow: 0 1px 3px 0 black;
          box-shadow: 0 1px 3px 0 black;
  background-color: #ffede8;
}

.nav-bar nav ul a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.nav-bar nav ul a i {
  color: #FF4D1C;
}

.nav-bar nav ul a:hover {
  color: #FF4D1C;
}

.nav-bar nav ul a:nth-child(3):active {
  color: #FF4D1C;
}

.nav-bar nav .logo {
  font-size: 33.33333px;
}

.nav-bar nav .nav li {
  text-align: center;
}

@media (max-width: 767px) {
  .nav-bar .nav {
    background-color: #333;
    position: relative;
  }
  .nav-bar .nav #nav__links {
    display: none;
  }
  .nav-bar .nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .nav-bar .nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: -40px;
    border-radius: 20%;
    background: #FF4D1C;
    width: 35px;
    height: 35px;
  }
  .nav-bar .nav a.icon .fa {
    position: relative;
    bottom: 8px;
    right: 6px;
  }
  .nav-bar .nav a:hover {
    background-color: #FF4D1C;
    color: #FFFFFF;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-bar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
  }
  .nav-bar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar nav li {
    padding-left: 2.3em;
    text-align: center;
  }
  .nav-bar nav li:first-child {
    padding-left: 0;
  }
  .nav-bar nav .icon {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-bar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar nav .nav li {
    padding-left: 2.3em;
    text-align: center;
  }
  .nav-bar nav .nav li:first-child {
    padding-left: 0;
  }
  .nav-bar nav .icon {
    display: none;
  }
}

.home {
  max-width: 100%;
  background-color: #ffede8;
}

.home .container .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .container .outer .left-column {
  max-width: 550px;
  max-height: 450px;
}

.home .container .outer .left-column h1 {
  font-weight: 700;
  line-height: 1em;
}

.home .container .outer .left-column p {
  font-size: 1rem;
  line-height: 30px;
  color: #999;
}

.home .container .outer .right-column {
  padding: 45px;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 11.11111px #d9d9d9;
          box-shadow: 0 0 11.11111px #d9d9d9;
}

.home .container .outer .right-column h3 {
  font-weight: 700;
  font-size: 2em;
}

.home .container .outer .right-column p {
  color: #999;
  padding: 10px 0;
}

.home .container .outer .right-column input {
  display: block;
  width: 100%;
  height: 55.55556px;
  margin: 20px auto;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  color: #666666;
}

.home .container .outer .right-column button {
  width: 100%;
  height: 55.55556px;
  font-size: 16.66667px;
  background-color: #FF4D1C;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.home .container .outer .right-column button:hover {
  background-color: #e83200;
}

@media (max-width: 991px) {
  .home {
    padding: 50px 0 50px 0;
  }
  .home .outer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .outer .left-column {
    margin-bottom: 50px;
    text-align: center;
  }
  .home .outer .left-column h1 {
    font-size: 2.5em;
  }
  .home .outer .left-column p {
    padding: 5% 0 0 0;
  }
}

@media (min-width: 992px) {
  .home {
    padding: 110px 0 110px 0;
  }
  .home .outer .left-column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .outer .left-column h1 {
    font-size: 3.5rem;
  }
  .home .outer .left-column p {
    padding: 5% 10% 0 0;
  }
}

.product-features {
  max-width: 100%;
}

.product-features .title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2em;
}

.product-features .title p {
  padding: 1% 20%;
  text-align: center;
  color: #999;
}

.product-features .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 100%;
  height: 100%;
  padding: 5px;
}

.product-features .features h4 {
  padding: 20px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
}

.product-features .features p {
  text-align: center;
  font-size: 1em;
  color: #999;
}

.product-features .features .circle {
  display: inline-block;
  width: 90.90909px;
  height: 90.90909px;
  margin-top: 40px;
  padding: 12px 0;
  text-align: center;
  font-size: 3em;
  background-color: #ffd9cf;
  color: #FF4D1C;
  border-radius: 100%;
  -webkit-box-shadow: 0.3px 0.3px 2px 10px #ffede8;
          box-shadow: 0.3px 0.3px 2px 10px #ffede8;
}

@media (max-width: 767px) {
  .product-features ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .product-features {
    padding: 50px 0 50px 0;
  }
}

@media (min-width: 768px) {
  .product-features ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .product-features {
    padding: 110px 0 110px 0;
  }
}

.about-product {
  background-color: #f2f2f2;
}

.about-product .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-product .wrapper .about-product__image img {
  width: 100%;
  height: 100%;
}

.about-product .wrapper .about-product__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 11.11111px #d9d9d9;
          box-shadow: 0 0 11.11111px #d9d9d9;
}

.about-product .wrapper .about-product__right-column li {
  padding: 10px 0;
}

.about-product .wrapper .about-product__right-column li i {
  padding: 0 10px 0 0;
  font-size: 12px;
  color: #14FE87;
}

.about-product .wrapper .about-product__right-column .title h3 {
  font-size: 2.2em;
  font-weight: 700;
}

.about-product .wrapper .about-product__right-column .title p {
  padding: 15px 0;
  font-size: 0.9em;
  color: #999;
}

@media (max-width: 767px) {
  .about-product .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-product .wrapper .about-product__image {
    width: 320px;
    height: 420px;
  }
  .about-product .wrapper .about-product__image img {
    height: 100%;
  }
  .about-product .wrapper .about-product__right-column {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 30px 15%;
  }
}

@media (max-width: 991px) {
  .about-product {
    padding: 50px 0 50px 0;
  }
}

@media (min-width: 768px) {
  .about-product .wrapper .about-product__image {
    width: 50%;
  }
  .about-product .wrapper .about-product__image img {
    height: 100%;
  }
  .about-product .wrapper .about-product__right-column {
    width: 50%;
    padding: 50px;
  }
}

@media (min-width: 992px) {
  .about-product {
    padding: 110px 0 110px 0;
  }
}

.demo-video {
  height: 600px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3352FA), to(#AD1EEC));
  background-image: linear-gradient(to bottom, #3352FA, #AD1EEC);
}

.demo-video .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo-video .container .title {
  width: 550px;
  height: 600px;
  padding: 15% 0;
}

.demo-video .container .title h3 {
  font-size: 2.2em;
  font-weight: 700;
  color: #FFFFFF;
}

.demo-video .container .title p {
  padding: 35px 0;
  font-size: 1em;
  font-weight: 400;
  color: #FFFFFF;
}

.demo-video button {
  width: 83.33333px;
  height: 83.33333px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border: none;
  border-radius: 100%;
  background-color: red;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.demo-video button:hover {
  background-color: blue;
}

.demo-video button .fas {
  font-size: 2em;
}

.why-choose {
  height: 100%;
  background-color: #F2F2F2;
}

.why-choose .why-choose-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8%;
}

.why-choose .title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2em;
}

.why-choose .title p {
  padding: 1% 20%;
  text-align: center;
  color: #999;
}

.why-choose .why-choose__carousel {
  height: 350px;
  background-color: #FFEDE8;
}

.why-choose .why-choose__carousel img {
  width: 100%;
  height: 350px;
}

.why-choose .why-choose__right-column {
  width: 80%;
}

.why-choose .why-choose__right-column .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
  grid-column-gap: 2%;
  grid-row-gap: 10%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
}

.why-choose .why-choose__right-column .inner .features h4 {
  padding: 7px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
}

.why-choose .why-choose__right-column .inner .features p {
  text-align: center;
  font-size: 1em;
  color: #999;
}

.why-choose .why-choose__right-column .inner .features .circle {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 3em;
  color: #FF4D1C;
}

.why-choose .why-choose__right-column .inner .features .circle .fab {
  text-align: center;
}

@media (max-width: 991px) {
  .why-choose {
    padding: 50px 0 50px 0;
  }
  .why-choose .why-choose-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-choose .why-choose-content .why-choose__carousel {
    width: 80%;
  }
  .why-choose .why-choose-content .why-choose__right-column {
    padding-top: 5%;
    padding-bottom: 6%;
  }
}

@media (min-width: 992px) {
  .why-choose {
    padding: 110px 0 110px 0;
  }
  .why-choose .why-choose-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .why-choose .why-choose-content .why-choose__carousel {
    width: 45%;
    margin-right: 50px;
  }
}

.products {
  background-color: #FFFFFF;
}

.products .product_blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.products .productsItems {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #FFEDE7;
}

.products .productsItems img {
  width: 100%;
  height: 100%;
  text-align: center;
}

.products .productsItems .productsItems_rColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
}

.products .productsItems .productsItems_rColumn h4 {
  padding-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
}

.products .productsItems .productsItems_rColumn ul li {
  font-size: 14px;
}

.products .productsItems .productsItems_rColumn ul li i {
  padding-right: 5px;
  color: #14FE87;
}

.products .productsItems .productsItems_rColumn #price {
  padding: 20px 0;
  font-weight: 700;
}

.products .productsItems .productsItems_rColumn button {
  width: 120px;
  height: 43px;
  border: 2px solid #6827c2;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.products .productsItems .productsItems_rColumn button a {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.products .productsItems .productsItems_rColumn button:hover {
  background-color: #FF4D1C;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products .productsItems .productsItems_rColumn button:hover a {
  color: #FFFFFF;
}

.products .productsItems .productsItems_rColumn p {
  font-size: 25px;
}

.products .productsItems .productsItems_rColumn p sup {
  text-decoration: line-through;
  font-size: 20px;
  color: grey;
  font-weight: 400;
}

.products .title {
  padding: 0 0 5% 0;
}

.products .title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2em;
}

.products .title p {
  padding: 1% 20%;
  color: #999;
  text-align: center;
}

.products .button {
  width: 140px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #FF4D1C;
  outline: none;
  cursor: pointer;
}

.products .button a {
  display: inline-block;
  margin: 12px 0;
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF;
}

.products .button:hover {
  background-color: #cf2d00;
}

@media (min-width: 768px) {
  .products .product_blocks {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .products {
    padding: 50px 0 50px 0;
  }
  .products .product_blocks {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .products {
    padding: 110px 0 110px 0;
  }
}

.subscribe {
  max-height: 600px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3352FA), to(#AD1EEC));
  background-image: linear-gradient(to bottom, #3352FA, #AD1EEC);
}

.subscribe .newsletter-subscribe .title {
  padding: 0 0 5% 0;
  color: #FFFFFF;
}

.subscribe .newsletter-subscribe .title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2em;
}

.subscribe .newsletter-subscribe .title p {
  padding: 1% 20%;
  text-align: center;
}

.subscribe .subscribe_form {
  position: relative;
  max-width: 90%;
  height: 185px;
  margin: auto;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.subscribe .subscribe_form input {
  display: block;
  min-width: 100%;
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;
  border: 2px solid #d3d2d2;
  background-color: #f2f2f2;
  color: #666666;
  font-weight: 700;
  outline: none;
}

.subscribe .subscribe_form button {
  font-size: 16.66667px;
  font-weight: 700;
  background-color: #FF4D1C;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

.subscribe .subscribe_form button:hover {
  background-color: #cf2d00;
}

@media (max-width: 576px) {
  .subscribe .subscribe_form {
    padding: 30px;
  }
  .subscribe .subscribe_form input {
    text-align: center;
  }
  .subscribe .subscribe_form button {
    width: 60%;
    height: 50px;
    margin-top: 15px;
    border: 2px solid #d3d2d2;
    border-radius: 20px;
  }
}

@media (min-width: 577px) {
  .subscribe .subscribe_form {
    padding: 65px;
  }
  .subscribe .subscribe_form input {
    padding-left: 30px;
  }
  .subscribe .subscribe_form button {
    position: absolute;
    height: 50px;
    right: 70px;
    bottom: 65px;
    width: 25%;
    border: none;
    border-radius: 4px 30px 30px 4px;
  }
}

@media (max-width: 991px) {
  .subscribe {
    padding: 50px 0 60px 0;
  }
}

@media (min-width: 992px) {
  .subscribe {
    padding: 110px 0 110px 0;
  }
}

.faq {
  background-color: #FFFFFF;
}

.faq .title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2em;
}

.faq .title p {
  padding: 1% 20%;
  text-align: center;
  color: #999;
}

.faq .faq_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .faq_row .faq_question {
  height: 58px;
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  background-color: #F9F9F9;
  color: black;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #e6f0fa;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
}

.faq .faq_row .faq_question:after {
  float: right;
  margin-left: 5px;
  content: '\002B';
  color: #FF4D1C;
  font-size: 18px;
  font-weight: bold;
}

.faq .faq_row .open {
  border-style: solid solid none solid;
}

.faq .faq_row .open:after {
  content: "\2212";
}

.faq .faq_row .faq_question:hover {
  content: '\002B';
  background-color: #FF4D1C;
  color: #FFFFFF;
}

.faq .faq_row .faq_question:hover.open:after {
  content: "\2212";
  color: #FFFFFF;
}

.faq .faq_row .faq_answer {
  width: 100%;
  max-height: 0;
  background-color: #fff;
  color: #999;
  border: 1px solid #e6f0fa;
  border-style: none solid solid solid;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.faq .faq_row .faq_answer p {
  padding: 18px 18px;
}

@media (max-width: 991px) {
  .faq {
    padding: 50px 0 50px 0;
  }
}

@media (min-width: 992px) {
  .faq {
    padding: 110px 0 110px 0;
  }
  .faq .faq_row {
    -ms-flex-wrap: column wrap;
        flex-wrap: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feedback {
  position: relative;
  background-color: #f9f9f9;
}

.feedback .title {
  padding: 0 0 70px 0;
}

.feedback .title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2em;
}

.feedback .title p {
  padding: 1% 20%;
  color: #999;
  text-align: center;
}

.feedback .my-slider {
  position: relative;
  width: 100%;
}

.feedback .my-slider .my-slider_card {
  position: relative;
}

.feedback .my-slider .my-slider_card .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback .my-slider .my-slider_card .outer .avatar .fa-user-circle {
  padding-bottom: 20px;
  font-size: 70px;
}

.feedback .my-slider .my-slider_card .outer h5 {
  color: #FF4D1C;
  font-size: 20px;
}

.feedback .my-slider .my-slider_card .outer p {
  padding-bottom: 25px;
  text-align: center;
  line-height: 25px;
  color: #999;
}

.feedback .my-slider .my-slider_card .outer .fa-quote-left {
  padding-bottom: 20px;
  font-size: 35px;
  color: #702edb;
}

.feedback .my-slider .my-slider_card .outer .fa-star {
  padding-bottom: 20px;
  font-size: 12px;
  color: #f5d002;
}

.feedback .my-slider .slick-slide {
  height: 463px !important;
  margin-right: 20px;
  padding: 25px 25px 80px 25px;
  border-radius: 2%;
  border: 1px solid rgba(137, 137, 219, 0.281);
  background-color: #FFFFFF;
}

.feedback .my-slider .slick-arrow {
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 20%;
  border: 1px solid rgba(137, 137, 219, 0.281);
  outline: none;
}

.feedback .my-slider .slick-arrow:hover {
  background-color: #FF4D1C;
  color: #FFFFFF;
}

.feedback .my-slider .slick_next {
  position: absolute;
  left: 95%;
  top: 105%;
  color: blue;
}

.feedback .my-slider .slick_prev {
  position: absolute;
  top: 105%;
  color: blue;
}

@media (max-width: 991px) {
  .feedback {
    padding: 50px 0 120px 0;
  }
}

@media (min-width: 992px) {
  .feedback {
    padding: 110px 0 110px 0;
  }
}

.contacts .title {
  padding: 0 0 70px 0;
}

.contacts .title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2em;
}

.contacts .title p {
  padding: 1% 20%;
  text-align: center;
  color: #999;
}

.contacts .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}

.contacts .wrapper .form p {
  color: #999;
}

.contacts .wrapper .form input {
  display: block;
  height: 62.5px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #666666;
}

.contacts .wrapper .form button {
  height: 62.5px;
  font-size: 16.66667px;
  font-weight: 700;
  background-color: #FF4D1C;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.contacts .wrapper .form button:hover {
  background-color: #e83200;
}

.contacts .wrapper .img-watch img {
  height: 370px;
  width: 400px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@media (max-width: 767px) {
  .contacts .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts .wrapper input {
    width: 100%;
  }
  .contacts .wrapper button {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .contacts {
    padding: 50px 0 50px 0;
  }
}

@media (min-width: 768px) {
  .contacts input {
    width: 550px;
  }
  .contacts button {
    width: 550px;
  }
}

@media (min-width: 992px) {
  .contacts {
    padding: 110px 0 110px 0;
  }
}

footer {
  height: 50px;
  padding: 40px 0 40px 0;
  background-color: #f2f2f2;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100px;
}

footer .container .social ul a {
  color: black;
}

footer .container .social ul a:hover {
  color: #FF4D1C;
}

footer .container a {
  text-decoration: none;
  color: #FF4D1C;
}

@media (max-width: 576px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */